TEST_ENVIRONMENT=local
TIMEOUT=30000
FORMS_MANAGER_URL=http://localhost:3001
LIVE_FORM_DEFINITION_IDS=
DRAFT_FORM_DEFINITION_IDS=
TEST_FORM_DEFINITION_IDS=
GOVPAY_TEST_CARD_NUMBER="4242 4242 4242 4242"
GOVPAY_TEST_CARD_EXPIRY_MONTH="12"
GOVPAY_TEST_CARD_EXPIRY_YEAR="30"
GOVPAY_TEST_CARD_NAME="Test User"
GOVPAY_TEST_CARD_CVC="123"
GOVPAY_TEST_BILLING_ADDRESS_LINE_1="10 Test Street"
GOVPAY_TEST_BILLING_CITY="London"
GOVPAY_TEST_BILLING_POSTCODE="MK18 1AA"
GOVPAY_TEST_EMAIL="test@example.com"